<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Меню</title>
    <link rel="stylesheet" 
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h2>Меню</h2>
        <h3>Комбо-сеты</h3>
        {% for set in sets %}
            <div class="card mb-3">
                <div class="row">
                    <div class="col-md-4">
                        {% if set.image %}
                            <img src="{{ set.image.url }}" class="card-img">
                        {% else %}
                            <img src="" class="card-img">
                        {% endif %}
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ set.name }}</h5>
                            <p class="card-text">{{ set.description }}</p>
                            <p class="card-text">Состав: 
                                {% for dish in set.dishes.all %}
                                    {% if not forloop.last %}
                                        {{ dish.name }}
                                    {% endif %}
                                {% endfor %}
                            </p>
                            <p class="card-text"><b>{{ set.price }} ₽</b></p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</body>
</html>
